.landing-page {
    background-color: #8ed1fc !important;
}

.btn-primary {
    color: #fff;
    background-color: #ff5000;
    border-color: #ff5000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #777777;
    border-color: #777777;
}
