<div class="p-3 mt-2">
    <div class="container landing-page">
        <div class="card p-3 mb-2">
            <div class="row p-3 mt-2">
                <div class="col-md-12">
                    <h1 class="text-center">{{config.welComeDetails.welcomeMesssage}}</h1>
                </div>
            </div>
            <div class="row p-3 mt-2">
                <div class="col-md-12">
                    <b class="mt-2">{{config.welComeDetails.featureMessage}}</b>
                    <ul>
                        <li class="mt-2">{{config.welComeDetails.featureOneMessage}}</li>
                        <li class="mt-2">{{config.welComeDetails.featureTwoMessage}}</li>
                        <li class="mt-2">{{config.welComeDetails.featureThreeMessage}}</li>
                        <li class="mt-2">{{config.welComeDetails.featureFourMessage}}</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <button routerLink="/userDetails"
                        class="btn btn-primary mb-3">{{config.welComeDetails.clickHereMessage}}</button>
                </div>
            </div>
        </div>
    </div>
</div>